input_file: data/derive/derived2.parquet
base_output_dir: data/features
exclude_columns:
  - "openInRpdata"

include_columns:
mi_random_state: 7
dataset_format: parquet
id_like:
  enable: true
  min_unique_ratio: 0.98
  drop_regex:
    - "_id$"
    - "^id$"
    - "uuid"
    - "guid"
redundancy:
  enable: true
  threshold: 0.95
  prefer_keep:
    - saleYearMonth
families: {}
future_overrides: {}

targets:
  # - name: price_future_6m_delta
  #   output_subdir: price_future_6m_delta
  #   correlation_threshold: 0.05
  - name: normalized_price
    output_subdir: normalized_price
    correlation_threshold: 0.05
